#root {
  /* max-width: 1300px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  /* height: 38vh;
  background-image: url("https://img.freepik.com/premium-photo/muscular-man-working-out-battle-ropes-gym_53876-158325.jpg?w=826");
  background-size: cover;
  background-repeat: no-repeat; */
  /* background-position: top; */
}

body {
  /* background-color: rgb(207, 206, 206); */
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(140, 140, 140), rgb(0, 0, 0));
}